<h1>Listing regs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Cell</th>
      <th>Quli</th>
      <th>Gender</th>
      <th>Language</th>
      <th>Country</th>
      <th>State</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @regs.each do |reg| %>
      <tr>
        <td><%= reg.name %></td>
        <td><%= reg.email %></td>
        <td><%= reg.cell %></td>
        <td><%= reg.quli %></td>
        <td><%= reg.gender %></td>
        <td><%= reg.language %></td>
        <td><%= reg.country %></td>
        <td><%= reg.state %></td>
        <td><%= reg.location %></td>
        <td><%= link_to 'Show', reg %></td>
        <td><%= link_to 'Edit', edit_reg_path(reg) %></td>
        <td><%= link_to 'Destroy', reg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reg', new_reg_path %>
