<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reg.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reg.email %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @reg.cell %>
</p>

<p>
  <strong>Quli:</strong>
  <%= @reg.quli %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @reg.gender %>
</p>

<p>
  <strong>Language:</strong>
  <%= @reg.language %>
</p>

<p>
  <strong>Country:</strong>
  <%= @reg.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @reg.state %>
</p>

<p>
  <strong>Location:</strong>
  <%= @reg.location %>
</p>

<%= link_to 'Edit', edit_reg_path(@reg) %> |
<%= link_to 'Back', regs_path %>
